body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(240, 248, 255, 0.705);
    padding: 40px;
}
form,div{
background-color: white;
color: black;
padding: 20px;
padding-right: 40px;
border-radius: 12px;
width: 500px;
margin: auto;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    color: rgb(1, 1, 43);
}
input, select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
} 
label{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type="submit"]{
    background-color: rgba(0, 89, 255, 0.733);
    color: white;
    cursor: pointer;
    font-weight: bold;

}
input[type="submit"]:hover{
    background-color: rgb(21, 179, 179);
}